<div class="row">
  <div class="col-md-12">
    <% @purchase_items.each do |g|%>

        <div class="row">
          <h4 class="text-success col-md-3"><strong class="text-primary">Purchased From:</strong> <%= g.purchase.vendor.name %></h4>
          <h4 class="text-success col-md-3"><strong class="text-primary">Date: </strong> <%=  g.purchase.date %></h4>
          <h4 class="text-success col-md-3"><strong class="text-primary">Sale Amount: </strong> <%=  g.purchase.total %></h4>
          <% break %>
    <% end %>
    <div class="col-md-3 pull-right">
      <a class="btn btn-primary pull-right" href="<%= new_purchase_path %>"><span><i class="fa fa-plus fa-fw">&nbsp;</i></span>
        Add New</a>
    </div>
    </div>

    <br>


    <table class="table table-hover">
      <thead>
      <tr class="bg-primary">
        <th>S.N.</th>
        <th>Item Name</th>
        <th>Item Code</th>
        <th>Quantity</th>
        <th>Unit Cost</th>
        <th>SI Unit</th>
      </tr>
      </thead>

      <% @purchase_items.each_with_index do |f, i| %>
          <tbody>
          <tr>
            <td><%= (@page.to_i - 1) * @perpage+ i+1 %></td>
            <td>
              <a href="<%= item_path(f.item.id) %>"><%= f.item.name %></a>
            </td>

            <td>
              <%= f.item.item_code %>
            </td>

            <td>
              <%= f.quantity%>
            </td>

            <td>
              <%= f.unit_price %>
            </td>

            <td>
              <%= f.item.unit.name %>
            </td>

          </tr>
          </tbody>

      <% end %>

    </table>


  </div>

  <%= will_paginate @purchase_items, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>