<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @purchase.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            <% @purchase.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>

<div class="multiform">
  <div class="row">
    <div class="col-md-12">
      <div class="ui-widget">
        <% @count = 0 %>
        <%= form_for @purchase do |f| %>
            <div class="form-horizontal">
              <div class="row">
                <div class="col-md-12">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label col-md-5"><p class="text-right">Suppliers</p></label>
                      <div class="col-md-7">
                        <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, {prompt: "Select Supplier"}, {class: "form-control selectbox"} %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="control-label col-md-5"><p class="text-right"> Bill Number:</p></label>
                      <div class="col-md-7">
                        <%= f.text_field :bill_number, :class => "form-control", :value => "#{@data}", :placeholder => "123" %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="control-label col-md-5"><p class="text-right">Date</p></label>
                      <div class="col-md-7">
                        <div class='input-group date' id='datetimepicker1'>
                          <%= f.text_field :date, :class => "form-control", :placeholder => "#{Date.today}" %>
                          <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                        </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label class="control-label col-md-5"><p class="text-right"> Credit Limit</p></label>

                      <div class="col-md-7 ">
                        <div class="input-group">
                          <%= f.number_field :credit_limit, :class => "form-control credit-limit", :placeholder => "12" %>
                          <span class="input-group-btn">
                              <button class="btn btn-default" disabled>Days</button>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr>
              <br>
              <table class="table table-hover">

                <thead class="bg-primary">
                <tr>
                  <th>Particular/Item</th>
                  <th>Unit</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>

                <tbody id="add-data">
                <%= f.fields_for :purchase_items do |builder| %>
                    <%= render 'field_fields', f: builder %>
                <% end %>
                </tbody>
              </table>

              <hr>

              <div class="col-md-8">
                <%= link_to_add_fields "Add", f, :purchase_items %>
              </div>


              <div class="col-md-4 form-group">

                <div class="col-md-12">
                  <h4 class="text-right text-primary col-md-5">Total Cost:</h4>
                  <div class="col-md-7">
                    <input type="text" class="total-cost form-control" value="0" readonly>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-5"><h4 class="text-right text-primary">Discount:</h4></label>
                  <div class="col-md-7">
                    <%= f.text_field :discount, :class => "form-control discount", :value => "0" %>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-5"><h4 class="text-right text-primary" >Tax %:</h4></label>
                  <div class="col-md-7">
                    <div class="input-group">
                      <input type="text" class="form-control tax-percent" value="<%= @tax %>" disabled readonly>
                      <span class="input-group-btn">
                        <button class="btn btn-default" disabled>%</button>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-5"><h4 class="text-right text-primary">Tax Amount:</h4></label>
                  <div class="col-md-7">
                    <input type="text" class="form-control tax" value="0">
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="control-label col-md-5"><h4 class="text-right text-primary ">Grand Total:</h4></label>
                  <div class="col-md-7">
                    <input type="text" class=" grand-total form-control" disabled>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-offset-5 col-md-7">
                    <%= f.submit "Create", :class => "btn btn-primary btn-block" %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var count = <%= @tax %>;
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('body').on('blur', '.quantity, .unit-price', function (e) {
    var row = $(this).closest('tr');
    var pr = $('.unit-price', row),
        qu = $('.quantity', row),
        total = $('.total', row);
    var grand = $('.total-cost');
    temp = parseFloat(total.val());
    buy_pr = parseFloat(pr.val());
    sell_pr = parseFloat(qu.val());

    if (!isNaN(buy_pr) && !isNaN(sell_pr)) {
      total.val(( sell_pr * buy_pr ).toFixed(2));
      grand.val(( parseFloat(grand.val()) + (parseFloat(total.val()) - temp)).toFixed(2));
      $('.grand-total').val(total.val());
    }
  });

  $('body').on('focus', '.tax', function (e) {
    var taxper = <%= @tax %>;
    var total = $('.total-cost'),
        discount = $('.discount'),
        tax = $('.tax');
    var taxable = parseFloat(total.val()) - parseFloat(discount.val());
    var amount = ( parseFloat(taxper) / 100 ) * (taxable);
    tax.val(amount.toFixed(2));
    $('.grand-total').val((taxable + amount));
  });

  $('body').on('blur', '.total-cost, .discount', function (e) {
    var total = $('.total-cost'),
        discount = $('.discount'),
        grand_cost = $('.grand-total');

    total_cost = parseFloat(total.val());
    discount_cost = parseFloat(discount.val());
    grand_total = parseFloat(grand_cost.val());

    if (!isNaN(total_cost) && !isNaN(discount_cost)) {
      grand_cost.val(( total_cost - discount_cost).toFixed(2));
    }
  });


  $(function () {
    $('#datetimepicker1').datetimepicker({
      viewMode: 'years',
      format: 'YYYY/MM/DD'
    });
    $('.selectbox').select2();
    $('.select-item').select2();
  });

</script>
