<div class="purchase">
  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 pull-right">
          <a class="btn btn-primary pull-right" href="<%= new_purchase_path %>"><span><i class="fa fa-plus fa-fw">&nbsp;</i></span>
            Add New</a>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-12">

          <table class="table table-hover">
            <thead>
            <tr class="bg-primary">
              <th>S.N.</th>
              <th>Supplier</th>
              <th>Total Cost</th>
              <th>Date</th>
            </tr>
            </thead>

            <% @purchase.each_with_index do |f, i| %>
                <tbody>
                <tr>
                  <td><%= (@page.to_i - 1) * @perpage+ i+1 %></td>
                  <td>
                    <%= f.vendor.name %>
                  </td>
                  <td>
                    <%= f.total %>
                  </td>
                  <td>
                    <%= f.created_at %>
                  </td>

                </tr>
                </tbody>

            <% end %>

          </table>

        </div>
      </div>

      <%= will_paginate @purchase, renderer: BootstrapPagination::Rails %>

    </div>
  </div>

</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>