<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well ttmodal">
      <%= form_for (@company_profile) do |f| %>

          <div class="form-horizontal ">
            <div class="form-group">
              <label class="control-label col-md-3">Name*</label>
              <div class="col-md-9">
                <%= f.text_field :name, autofocus: true, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Address</label>
              <div class="col-md-9">
                <%= f.text_field :address, autofocus: true, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">VDC_MUN*</label>
              <div class="col-md-9">
                <%= f.text_field :vdc_mun, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Ward Number*</label>
              <div class="col-md-9">
                <%= f.text_field :ward_no, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Email*</label>
              <div class="col-md-9">
                <%= f.email_field :email, autofocus: true, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Website*</label>
              <div class="col-md-9">
                <%= f.text_field :website, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Phone*</label>
              <div class="col-md-9">
                <%= f.text_field :phone, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Vat pan number*</label>
              <div class="col-md-9">
                <%= f.text_field :vat_pan_no, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">District*</label>
              <div class="col-md-9">
                <%= f.text_field :district, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Zone*</label>
              <div class="col-md-9">
                <%= f.text_field :zone, autocomplete: "off", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3">Logo*</label>
              <div class="col-md-4">
                <%= image_tag @company_profile.logo.thumb.url if @company_profile.logo? %>
                <div class="upload-preview">

                </div>
              </div>
              <div class="col-md-3">
                <span class="btn btn-small btn-default btn-inverse " onclick="$(this).parent().find('input[type=file]').click();">Choose photo</span>
                <%= f.file_field :logo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;", :class => "file" %>
              </div>

            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-md-2 actions">
                <%= f.submit "Create", :class => "btn btn-primary" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $(".file").change(function (event) {
      $(".upload-preview").append("<p>" + $(".file").val() + "</p>")
    });
  });

  $(document).ready(function () {
    $('#exampleModalLong').modal('show');
  })
</script>
