<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @customer.errors.any? %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <ul>
                <% @customer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well tt-modal">
          <%= form_for (@customer) do |f| %>
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-md-3 control-label">Name <strong class="text-danger"> * </strong></label>
                  <div class="control-label col-md-9">
                    <%= f.text_field :customer_name, :class => "form-control", :placeholder => "Zeftware Solutions" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Address <strong class="text-danger">*</strong></label>
                  <div class="control-label col-md-9">
                    <%= f.text_area :address, :class => "form-control", :row => 2, :style => " resize: none ", :placeholder => "RamLaxman Marg, Biratnagar" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Phone Number <strong class="text-danger">*</strong></label>
                  <div class="control-label col-md-9">
                    <%= f.text_field :phone_number, :class => "form-control", :placeholder => "021-460567 or 9842512345"%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-offset-3 col-md-4">
                    <%= f.submit "Submit", :class => "btn btn-primary" %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>