<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-6 pull-right">
        <a class="btn btn-primary pull-right" href="<%= new_customer_path %>"><span><i class="fa fa-plus fa-fw">&nbsp;</i></span>
          Add New</a>
      </div>
    </div>
    <br>

    <table class="table table-hover ">
      <thead>
      <tr class="bg-primary">
        <th>S.N.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Action</th>
      </tr>
      </thead>
      <% @customers.each_with_index do |u, i| %>
          <tbody>
          <tr>
            <td><%= (@page.to_i - 1) * @perpage + i+1 %></td>
            <td>
              <%= u.customer_name %>
            </td>
            <td>
              <%= u.address%>
            </td>
            <td>
              <%= u.phone_number%>
            </td>
            <td>
              <a data-toggle="toggle" href="<%= edit_customer_path(u) %>" title="Edit Record">
                <span>
                  <i class="fa fa-pencil-square text-primary"></i>
                </span>
              </a>
              &nbsp;
              <a data-confirm="Are you sure to delete" rel="nofollow" data-toggle="toggle" title="Delete Record" data-method="delete" href="<%= customer_path(u) %>">
                <span>
                  <i class="fa fa-trash text-danger"></i>
                </span>
              </a>
            </td>
          </tr>
          </tbody>
      <% end %>
    </table>
  </div>
</div>
<%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('[data-toggle="toggle"]').tooltip();
  });
</script>