<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-6 pull-right">
        <a class="btn btn-primary pull-right" href="<%= new_item_group_path %>"><span><i class="fa fa-plus fa-fw">&nbsp;</i></span>
          Add New</a>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-hover table-striped">
          <thead>
          <tr class="bg-primary">
            <th>S.N.</th>
            <th>Name</th>
            <th>Parent Item</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>
          <% @item_groups.each_with_index do |f, i| %>
              <tr>
                <td><%= (@page.to_i - 1) * @perpage+ i+1 %></td>
                <td>
                  <%= f.name %>
                </td>

                <td>
                  <%if f.parent_id.nil? %>
                      <h4>-</h4>
                  <% else %>
                    <%= f.parent.name %>
                  <% end %>
                </td>

                <td>
                  <%= f.description %>
                </td>

                <td>
                  <a href="<%= edit_item_group_path(f) %>" title="Edit Record" data-toggle="toggle" >
                    <span>
                      <i class="fa fa-pencil-square fa-th-large text-primary fa-2x"></i>
                    </span>
                  </a>
                  &nbsp;
                  <a data-confirm="Are you sure to delete" rel="nofollow" data-toggle="toggle" title="Delete Record" data-method="delete" href="<%= item_group_path(f) %>">
                    <span>
                      <i class="fa fa-trash text-danger fa-th-large fa-2x"></i>
                    </span>
                  </a>
                </td>

              </tr>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>

    <%= will_paginate @item_groups, renderer: BootstrapPagination::Rails %>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('[data-toggle="toggle"]').tooltip();
  });
</script>